<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arrayOfPlist</key>
	<array>
		<dict>
			<key>stringText</key>
			<string>1</string>
			<key>stringPic</key>
			<string>1.png</string>
		</dict>
		<dict>
			<key>New item</key>
			<string></string>
			<key>New item - 2</key>
			<string></string>
		</dict>
		<dict>
			<key>New item</key>
			<string></string>
			<key>New item - 2</key>
			<string></string>
		</dict>
		<dict>
			<key>New item</key>
			<string></string>
			<key>New item - 2</key>
			<string></string>
		</dict>
		<dict>
			<key>New item</key>
			<string></string>
			<key>New item - 2</key>
			<string></string>
		</dict>
		<dict>
			<key>New item</key>
			<string></string>
			<key>New item - 2</key>
			<string></string>
		</dict>
		<dict>
			<key>New item</key>
			<string></string>
			<key>New item - 2</key>
			<string></string>
		</dict>
		<dict>
			<key>New item</key>
			<string></string>
			<key>New item - 2</key>
			<string></string>
		</dict>
		<dict>
			<key>New item</key>
			<string></string>
			<key>New item - 2</key>
			<string></string>
		</dict>
		<dict>
			<key>New item</key>
			<string></string>
			<key>New item - 2</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
